<div class="page">
    <div class="navbar no-shadow">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title sliding text-align-center w-100">About MobileUX</div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                    <i class="icon f7-icons ios-only">search</i>
                    <i class="icon material-icons md-only">search</i>
                </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search components" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content triangle-background">

        <div class="carosel">
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-slides-per-view="1" class="swiper-container swiper-init swipermultiple">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-content-block ">
                            <img src="img/news1.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-content-block ">
                            <img src="img/news2.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-content-block ">
                            <img src="img/news3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-title text-center color-dark">About us</div>
        <h1 class="text-center m-0">We are MobileUX</h1>
        <div class="block text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <hr>
        <div class="block">
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="col">
                    <p><img src="img/background.png" alt="" class="mw-100"></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="block text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="block footer">
            <div class="row">
                <div class="col">
                    MobileUX
                </div>
                <div class="col text-right">
                    <a href="" class="social"><i class="icon f7-icons">social_facebook_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_googleplus_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_linkedin_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_twitter_fill</i></a>
                </div>
            </div>
        </div>
        <div class="block footer dark">
            <div class="row">
                <div class="col text-center">
                    <p>Copyright @2018, Maxartkiller</p>
                </div>
            </div>
        </div>
    </div>
</div>