<div class="page" data-name="categories">
    <div class="navbar no-shadow">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title sliding text-align-center  w-100">Categories</div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                    <i class="icon f7-icons ios-only">search</i>
                    <i class="icon material-icons md-only">search</i>
                </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search components" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content triangle-background">
        <div class="block">
            <figure class="categories-banner">
                <img src="img/news1.jpg">
                <figcaption>Music</figcaption>
            </figure>
        </div>

        <h2 class="block-title color-dark">Most popular <a href="" class="float-right">View all</a></h2>
        <div class="list image-left-list">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-60x80"><img src="img/news_small1.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-60x80"><img src="img/news_small4.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-60x80"><img src="img/news_small3.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <h2 class="block-title color-dark">Editor's Choice <a href="" class="float-right">View all</a></h2>
        <div class="list image-left-list">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite_border</i>
                            </button>
                            <figure class="square-120x180"><img src="img/news_small1.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                            <div class="media-block">
                                <figure>
                                    <img src="img/user2.png" alt="">

                                </figure>
                                <div class="media-content">
                                    <div class="item-title">Alizee McMohan
                                        <br>
                                        <small>Article Writer at Timesnow</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-120x180"><img src="img/news_small4.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                            <div class="media-block">
                                <figure>
                                    <img src="img/user2.png" alt="">

                                </figure>
                                <div class="media-content">
                                    <div class="item-title">Alizee McMohan
                                        <br>
                                        <small>Article Writer at Timesnow</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite_border</i>
                            </button>
                            <figure class="square-120x180"><img src="img/news_small3.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                            <div class="media-block">
                                <figure>
                                    <img src="img/user2.png" alt="">

                                </figure>
                                <div class="media-content">
                                    <div class="item-title">Alizee McMohan
                                        <br>
                                        <small>Article Writer at Timesnow</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="block footer">
            <div class="row">
                <div class="col">
                    MobileUX
                </div>
                <div class="col text-right">
                    <a href="" class="social"><i class="icon f7-icons">social_facebook_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_googleplus_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_linkedin_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_twitter_fill</i></a>
                </div>
            </div>
        </div>
        <div class="block footer dark">
            <div class="row">
                <div class="col text-center">
                    <p>Copyright @2018, Maxartkiller</p>
                </div>
            </div>
        </div>
    </div>

</div>
