<div class="page" data-name="chat">
  <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title sliding text-align-center  w-100">Alizee</div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                    <i class="icon f7-icons ios-only">search</i>
                    <i class="icon material-icons md-only">search</i>
                </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search components" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
  <div class="toolbar messagebar">
    <div class="toolbar-inner">
      <div class="messagebar-area">
        <textarea class="resizable" placeholder="Message"></textarea>
      </div><a class="link send-link" href="#">Send</a>
    </div>
  </div>
  <div class="page-content messages-content">
    <div class="messages">
      <!-- Messages title -->
      <div class="messages-title"><b>Sunday, Feb 9,</b> 12:58</div>
      <!-- Full layout sent message -->
      <div class="message message-sent">
        <div class="message-avatar" style="background-image:url(img/user1.png);"></div>
        <div class="message-content">
          <div class="message-name">John Doe</div>
          <div class="message-header">Message header</div>
          <div class="message-bubble">
            <div class="message-text-header">Text header</div>
            <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="message-text-footer">Text footer</div>
          </div>
          <div class="message-footer">Message footer</div>
        </div>
      </div>
      <!-- Full layout received message -->
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/user2.png);"></div>
        <div class="message-content">
          <div class="message-name">John Doe</div>
          <div class="message-header">Message header</div>
          <div class="message-bubble">
            <div class="message-text-header">Text header</div>
            <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <div class="message-text-footer">Text footer</div>
          </div>
          <div class="message-footer">Message footer</div>
        </div>
      </div>
      <!-- Messages -->
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hi, Kate</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">How are you?</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/user2.png);"></div>
        <div class="message-content">
          <div class="message-name">Kate</div>
          <div class="message-bubble">
            <div class="message-text">Hi, I am good!</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/user1.png);"></div>
        <div class="message-content">
          <div class="message-name">Blue Ninja</div>
          <div class="message-bubble">
            <div class="message-text">Hi there, I am also fine, thanks! And how are you?</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hey, Blue Ninja! Glad to see you ;)</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hey, look, cutest kitten ever!</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-image"><img src="img/news1.jpg" style="width:200px; height: 150px;"></div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="img/user2.png);"></div>
        <div class="message-content">
          <div class="message-name">Kate</div>
          <div class="message-bubble">
            <div class="message-text">Nice!</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/user3.png);"></div>
        <div class="message-content">
          <div class="message-name">Kate</div>
          <div class="message-bubble">
            <div class="message-text">Like it very much!</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/user2.png);"></div>
        <div class="message-content">
          <div class="message-name">Blue Ninja</div>
          <div class="message-bubble">
            <div class="message-text">Awesome!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>