<div class="page" data-name="dashboard">
    <div class="navbar no-shadow">
        <div class="navbar-inner">
            
            <div class="title sliding text-align-center w-100">
                PMI Relawan Jakarta</div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components2">
                    <i class="icon f7-icons ios-only">search</i>
                    <i class="icon material-icons md-only">search</i>
                </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components2 searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
    <div class="toolbar light tabbar toolbar-bottom-md publish-tabs">
        <!-- Links have "tab-link" class instead of just "link" to switch tabs -->
        <div class="toolbar-inner">
            <a href="#homepagetabber-1" class="tab-link tab-link-active">
                <!-- Different icons for iOS and MD themes -->
                <i class="icon f7-icons ios-only">collection</i>
                <i class="icon material-icons md-only">library_books</i>
                <!-- Label text -->
            </a>
             <a href="#homepagetabber-3" class="tab-link">
                <i class="icon f7-icons ios-only">chat></i>
                <i class="icon material-icons md-only">chat</i>
            </a>
            

            <a class="tab-link publish-tabs-link button red-bg button-fill popup-open" href="#" data-popup=".popup-publish">
                <i class="f7-icons">add</i>
            </a>
           
           <a href="#homepagetabber-2" class="tab-link">
                 <i class="icon f7-icons ios-only">person</i>
                <i class="icon material-icons md-only">notifications_none</i>
            </a>

            <a href="#homepagetabber-4" class="tab-link">
                <i class="icon f7-icons ios-only">person</i>
                <i class="icon material-icons md-only">person</i>
            </a>
        </div>

    </div>


    <div class="tabs">
        <!-- First tab, active -->
        <div class="page-content tab tab-active triangle-background" id="homepagetabber-1">
             
                    <div class="block-slide">
    
                    <div class="card card-data-item">
                        <a class="like-heart like-heart2">
                            <i class="material-icons">turned_in_not</i>
                        </a>
                        <a class="like-heart">
                            <i class="f7-icons">more_vertical_fill</i>
                        </a>
                        <div class="list media-list">
                            <ul>
                                <li>
                                    <a href="/profile/" class="media-block">
                                        <figure>
                                            <img src="img/user2.png" alt="">

                                        </figure>
                                        <div class="media-content">
                                            <div class="media-block-title">Miftahudin Syarif
                                                <br>
                                                <small>Posted 15 hours ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                        <figure class="m-0 news-pic">
                            <img src="img/news1.jpg" alt="" class="w-100">
                        </figure>

                        <div class="row m-0 small">
                            <div class="col light-grey">
                                <i class="material-icons">comment</i>
                                <span class="post-seconds color-grey">comment</span>
                            </div>

                            <div class="col text-align-right light-grey">
                                <span class="post-seconds">Like</span>
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                    </div>


                    <div class="card card-data-item">
                        <a class="like-heart like-heart2">
                            <i class="material-icons">turned_in_not</i>
                        </a>
                        <a class="like-heart">
                            <i class="f7-icons">more_vertical_fill</i>
                        </a>
                        <div class="list media-list">
                            <ul>
                                <li>
                                    <a href="/profile/" class="media-block">
                                        <figure>
                                            <img src="img/user1.png" alt="">

                                        </figure>
                                        <div class="media-content">
                                            <div class="media-block-title">Syarif Miftahudin
                                                <br>
                                                <small>Posted 17 hours ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                        <figure class="m-0 news-pic">
                            <img src="img/news2.jpg" alt="" class="w-100">
                        </figure>

                        <div class="row m-0 small">
                            <div class="col light-grey">
                                <i class="material-icons">comment</i>
                                <span class="post-seconds color-grey">comment</span>
                            </div>

                            <div class="col text-align-right light-grey">
                                <span class="post-seconds">Like</span>
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                    </div>


                    <div class="card card-data-item">
                        <a class="like-heart like-heart2">
                            <i class="material-icons">turned_in_not</i>
                        </a>
                        <a class="like-heart">
                            <i class="f7-icons">more_vertical_fill</i>
                        </a>
                        <div class="list media-list">
                            <ul>
                                <li>
                                    <a href="/profile/" class="media-block">
                                        <figure>
                                            <img src="img/user3.png" alt="">

                                        </figure>
                                        <div class="media-content">
                                            <div class="media-block-title">Dedy Damara
                                                <br>
                                                <small>Posted 20 hours ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                        

                        <div class="row m-0 small">
                            <div class="col light-grey">
                                <i class="material-icons">comment</i>
                                <span class="post-seconds color-grey">comment</span>
                            </div>

                            <div class="col text-align-right light-grey">
                                <span class="post-seconds">Like</span>
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                    </div>

                    <div class="card card-data-item">
                        <a class="like-heart like-heart2">
                            <i class="material-icons">turned_in_not</i>
                        </a>
                        <a class="like-heart">
                            <i class="f7-icons">more_vertical_fill</i>
                        </a>
                        <div class="list media-list">
                            <ul>
                                <li>
                                    <a href="/profile/" class="media-block">
                                        <figure>
                                            <img src="img/user2.png" alt="">

                                        </figure>
                                        <div class="media-content">
                                            <div class="media-block-title">Damara Doddie
                                                <br>
                                                <small>Posted 22 hours ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                        

                        <div class="row m-0 small">
                            <div class="col light-grey">
                                <i class="material-icons">comment</i>
                                <span class="post-seconds color-grey">comment</span>
                            </div>

                            <div class="col text-align-right light-grey">
                                <span class="post-seconds">Like</span>
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                    </div>

                     <div class="card card-data-item">
                        <a class="like-heart like-heart2">
                            <i class="material-icons">turned_in_not</i>
                        </a>
                        <a class="like-heart">
                            <i class="f7-icons">more_vertical_fill</i>
                        </a>
                        <div class="list media-list">
                            <ul>
                                <li>
                                    <a href="/profile/" class="media-block">
                                        <figure>
                                            <img src="img/user1.png" alt="">

                                        </figure>
                                        <div class="media-content">
                                            <div class="media-block-title">Alizee McMohan
                                                <br>
                                                <small>Posted 1 day ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                        <figure class="m-0 news-pic">
                            <img src="img/news3.jpg" alt="" class="w-100">
                        </figure>

                        <div class="row m-0 small">
                            <div class="col light-grey">
                                <i class="material-icons">comment</i>
                                <span class="post-seconds color-grey">comment</span>
                            </div>

                            <div class="col text-align-right light-grey">
                                <span class="post-seconds">Like</span>
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                    </div>


                    <div class="card card-data-item">
                        <a class="like-heart like-heart2">
                            <i class="material-icons">turned_in_not</i>
                        </a>
                        <a class="like-heart">
                            <i class="f7-icons">more_vertical_fill</i>
                        </a>
                        <div class="list media-list">
                            <ul>
                                <li>
                                    <a href="/profile/" class="media-block">
                                        <figure>
                                            <img src="img/user2.png" alt="">

                                        </figure>
                                        <div class="media-content">
                                            <div class="media-block-title">Damara Doddie
                                                <br>
                                                <small>Posted 22 hours ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                        

                        <div class="row m-0 small">
                            <div class="col light-grey">
                                <i class="material-icons">comment</i>
                                <span class="post-seconds color-grey">comment</span>
                            </div>

                            <div class="col text-align-right light-grey">
                                <span class="post-seconds">Like</span>
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                    </div>

                </div>
            
            
        </div>


        <!-- Second tab -->
        <div class="page-content tab triangle-background" id="homepagetabber-2">
            <div class="block-slide">
    
                    <div class="card card-data-item">
                       
                        <a class="like-heart">
                            <i class="f7-icons">close</i>
                        </a>
                        <div class="media-block-title">
                            <small>Posted 22 hours ago</small>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                    </div>

                    <div class="card card-data-item">
                       
                        <a class="like-heart">
                            <i class="f7-icons">close</i>
                        </a>
                        <div class="media-block-title">
                            <small>Posted 22 hours ago</small>
                        </div>
                        <hr>
                        <figcaption class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</figcaption>
                    </div>


            </div>
        </div>


        <!-- third tab -->
        <div class="page-content tab triangle-background" id="homepagetabber-3">
            <div class="list image-left-list m-0 chat-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user2.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>Alizee</b></div>
                                </div>
                                <div class="item-subtitle"><small>Hi!</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user1.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>John Doe</b></div>
                                </div>
                                <div class="item-subtitle"><small>Awesome</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user3.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>John Doe</b></div>
                                </div>
                                <div class="item-subtitle"><small>Thank you</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user2.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>Alizee</b></div>
                                </div>
                                <div class="item-subtitle"><small>Hi!</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user1.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>John Doe</b></div>
                                </div>
                                <div class="item-subtitle"><small>Awesome</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user3.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>John Doe</b></div>
                                </div>
                                <div class="item-subtitle"><small>Thank you</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user2.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>Alizee</b></div>
                                </div>
                                <div class="item-subtitle"><small>Hi!</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user1.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>John Doe</b></div>
                                </div>
                                <div class="item-subtitle"><small>Awesome</small></div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <figure class="square-40-circle"><img src="img/user3.png" alt=""></figure>
                            </div>
                            <a href="/chat/" class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><b>John Doe</b></div>
                                </div>
                                <div class="item-subtitle"><small>Thank you</small></div>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <!-- Forth tab -->
        <div class="page-content tab triangle-background" id="homepagetabber-4">
            <div class="block m-0">
                <div class="list image-left-list no-hairlines m-0">
                    <ul class="no-bg">
                        <li>
                            <div class="item-content user-column">
                                <div>
                                    <div class="userpic-large">
                                        <figure><img src="img/user1.png" alt=""></figure>
                                    </div>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title"><b>John Doe</b> <small>online <span class="status-online bg-color-success"></span></small></div>
                                    <div class="item-subtitle">
                                        jogdoe@maxartkiller.in
                                        <br> +941 0021456325153
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <br>
            </div>

            <div class="row">
                <div class="col-33 text-center">
                    <h2 class="mb-0">2548</h2>
                    <p class="mt-0 color-gray">Friends</p>
                </div>
                <div class="col-33 text-align-center">
                    <h2 class="mb-0">584</h2>
                    <p class="mt-0 color-gray">Follower</p>
                </div>
                <div class="col-33 text-center">
                    <h2 class="mb-0">555</h2>
                    <p class="mt-0 color-gray">Reviews</p>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col">
                        <a href="" class="col button gradient md-elevation-6">Add Friend</a>
                    </div>
                    <div class="col">
                        <a href="" class="col button button-outline color-grey button-round-0">Follow</a>
                    </div>
                </div>
            </div>
            <h2 class="block-title color-dark">Description</h2>

            <div class="block color-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>

            <h2 class="block-title color-dark">Address <a href="" class="float-right">EDIT</a></h2>
            <div class="block"><b>Maxartkiller Inc. </b>
                <br>Bhuvaladi baug, Raipur, Rajasthan, 382430-India</div>

            <h2 class="block-title color-dark">Most Connected People</h2>
            <div class="block">
                <a href="/profile/" class="userpiclist tooltip-init " data-tooltip="John Mega">
                    <figure><img src="img/user1.png" alt=""></figure>
                </a>
                <a href="/profile/" class="userpiclist tooltip-init " data-tooltip="Lilly Johnson">
                    <figure><img src="img/user2.png" alt=""></figure>
                </a>
                <a href="/profile/" class="userpiclist tooltip-init " data-tooltip="Amazox">
                    <figure><img src="img/user3.png" alt=""></figure>
                </a>
            </div>

            <h2 class="block-title color-dark">My Article  <a href="" class="float-right">View all</a></h2>
            <div class="list image-left-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <button class="like-heart color-red">
                                    <i class="icon material-icons">favorite_border</i>
                                </button>
                                <figure class="square-120x180"><img src="img/news_small1.jpg" alt=""></figure>
                            </div>
                            <a href="/news/" class="item-inner">
                                <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                                <div class="item-title-row">
                                    <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                                </div>
                                <div class="item-subtitle">28-12-2018</div>
                                <div class="media-block">
                                    <figure>
                                        <img src="img/user2.png" alt="">

                                    </figure>
                                    <div class="media-content">
                                        <div class="item-title">Alizee McMohan
                                            <br>
                                            <small>Article Writer at Timesnow</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <button class="like-heart color-red">
                                    <i class="icon material-icons">favorite</i>
                                </button>
                                <figure class="square-120x180"><img src="img/news_small4.jpg" alt=""></figure>
                            </div>
                            <a href="/news/" class="item-inner">
                                <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                                <div class="item-title-row">
                                    <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                                </div>
                                <div class="item-subtitle">28-12-2018</div>
                                <div class="media-block">
                                    <figure>
                                        <img src="img/user2.png" alt="">

                                    </figure>
                                    <div class="media-content">
                                        <div class="item-title">Alizee McMohan
                                            <br>
                                            <small>Article Writer at Timesnow</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <button class="like-heart color-red">
                                    <i class="icon material-icons">favorite_border</i>
                                </button>
                                <figure class="square-120x180"><img src="img/news_small3.jpg" alt=""></figure>
                            </div>
                            <a href="/news/" class="item-inner">
                                <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                                <div class="item-title-row">
                                    <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                                </div>
                                <div class="item-subtitle">28-12-2018</div>
                                <div class="media-block">
                                    <figure>
                                        <img src="img/user2.png" alt="">

                                    </figure>
                                    <div class="media-content">
                                        <div class="item-title">Alizee McMohan
                                            <br>
                                            <small>Article Writer at Timesnow</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- full screen menu code  -->
        <div class="popup popup-publish">
            <div class="view">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Create Feed</div>
                            <div class="right">
                                <!-- Link to close popup -->
                                <a class="link popup-close"><i class="icon f7-icons">close</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content ">
                        <div class="list no-hairlines-md">
                            <ul>
                               
                                <li class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Feed Notes</div>
                                        <div class="item-input-wrap">
                                            <input type="text" placeholder="Enter Article title">
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Chose file</div>
                                        <div class="item-input-wrap">
                                            <input type="file" placeholder="Choose file">
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="block text-center">
                            <a href="" class="col button gradient md-elevation-6 popup-close">Create Feeds</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- full screen menu code  -->
    </div>


</div>
