<div class="page" data-name="news">
    <div class="navbar no-shadow">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title sliding text-align-center  w-100">News</div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                    <i class="icon f7-icons ios-only">search</i>
                    <i class="icon material-icons md-only">search</i>
                </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search components" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content triangle-background">
        <div class="carosel swiper-location-carousel">
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-slides-per-view="1" class="swiper-container swiper-init swiper-location">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/news1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/news2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/news3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="block detailblock-top">
            <div class="card card-data-item">
                <h2 class="font-light mt-0">Best song and best templates ever wins the heart of listeners and customers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <br>
                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <br>
                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <br>
                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

<br>
                <div class="list media-list">
                    <ul>
                        <li>
                            <a class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </a>
                            <a href="/profile/" class="media-block">
                                <figure>
                                    <img src="img/user2.png" alt="">

                                </figure>
                                <div class="media-content">
                                    <div class="media-block-title">Alizee McMohan
                                        <br>
                                        <small>Article Writer at Timesnow</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="row m-0">
                    <div class="col ">
                        <i class="icon material-icons color-warning">star</i>
                        <span class="post-seconds">4.9 <span>(254)</span></span>
                    </div>

                    <div class="col text-align-right">
                        <span class="post-seconds">28-12-2018</span>
                        <i class="icon material-icons color-grey">event</i>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="block-title color-dark">Most popular <a href="" class="float-right">View all</a></h2>
        <div class="list image-left-list">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-60x80"><img src="img/news_small1.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-60x80"><img src="img/news_small4.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <button class="like-heart color-red">
                                <i class="icon material-icons">favorite</i>
                            </button>
                            <figure class="square-60x80"><img src="img/news_small3.jpg" alt=""></figure>
                        </div>
                        <a href="/news/" class="item-inner">
                            <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                            <div class="item-title-row">
                                <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                            </div>
                            <div class="item-subtitle">28-12-2018</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        
        <h2 class="block-title color-dark">Comments</h2>
        <div class="list media-list">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <figure class="square-40-circle"><img src="img/user1.png"> </figure>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Best ever</div>
                            </div>
                            <div class="item-subtitle">Article Writer at Timesnow</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <figure class="square-40-circle"><img src="img/user2.png"> </figure>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Jacklin Johsons</div>
                            </div>
                            <div class="item-subtitle">Article Writer at Timesnow</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <figure class="square-40-circle"><img src="img/user3.png"> </figure>
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Ali Jean</div>
                            </div>
                            <div class="item-subtitle">Article Writer at Timesnow</div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h2 class="block-title color-dark">Add Comment</h2>
        <div class="block">
            <div class="list no-hairlines inputs-logins">
                <ul>
                    <li class="item-content item-input">
                        <textarea rows="2" placeholder="Add comment..."></textarea>
                    </li>
                </ul>
            </div>
            <a href="" class="col button gradient md-elevation-6">Submit</a>
        </div>
        <br>
    </div>

</div>
