<div class="page" data-name="profile">
    <div class="navbar no-shadow">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title sliding text-align-center w-100">Profile</div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                    <i class="icon f7-icons ios-only">search</i>
                    <i class="icon material-icons md-only">search</i>
                </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search components" />
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content triangle-background">
        <div class="block m-0">
            <div class="list image-left-list no-hairlines m-0">
                <ul class="no-bg">
                    <li>
                        <div class="item-content user-column">
                            <div>
                                <div class="userpic-large">
                                    <figure><img src="img/user1.png" alt=""></figure>
                                </div>
                            </div>
                            <div class="item-inner">
                                <div class="item-title"><b>John Doe</b> <small>online <span class="status-online bg-color-success"></span></small></div>
                                <div class="item-subtitle">
                                    jogdoe@maxartkiller.in
                                    <br> +941 0021456325153
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <br>
        </div>

        <div class="row">
            <div class="col-33 text-center">
                <h2 class="mb-0">2548</h2>
                <p class="mt-0 color-gray">Friends</p>
            </div>
            <div class="col-33 text-align-center">
                <h2 class="mb-0">584</h2>
                <p class="mt-0 color-gray">Follower</p>
            </div>
            <div class="col-33 text-center">
                <h2 class="mb-0">555</h2>
                <p class="mt-0 color-gray">Reviews</p>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <div class="col">
                    <a href="" class="col button gradient md-elevation-6">Add Friend</a>
                </div>
                <div class="col">
                    <a href="" class="col button button-outline color-grey button-round-0">Follow</a>
                </div>
            </div>
        </div>
        <h2 class="block-title color-dark">Description</h2>

        <div class="block color-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>

        <h2 class="block-title color-dark">Address <a href="" class="float-right">EDIT</a></h2>
        <div class="block"><b>Maxartkiller Inc. </b>
            <br>Bhuvaladi baug, Raipur, Rajasthan, 382430-India</div>

        <h2 class="block-title color-dark">Most Connected People</h2>
        <div class="block">
            <a href="/profile/" class="userpiclist tooltip-init " data-tooltip="John Mega">
                <figure><img src="img/user1.png" alt=""></figure>
            </a>
            <a href="/profile/" class="userpiclist tooltip-init " data-tooltip="Lilly Johnson">
                <figure><img src="img/user2.png" alt=""></figure>
            </a>
            <a href="/profile/" class="userpiclist tooltip-init " data-tooltip="Amazox">
                <figure><img src="img/user3.png" alt=""></figure>
            </a>
        </div>
        
        <h2 class="block-title color-dark">My Article  <a href="" class="float-right">View all</a></h2>
        <div class="list image-left-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <button class="like-heart color-red">
                                    <i class="icon material-icons">favorite_border</i>
                                </button>
                                <figure class="square-120x180"><img src="img/news_small1.jpg" alt=""></figure>
                            </div>
                            <a href="/news/" class="item-inner">
                                <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                                <div class="item-title-row">
                                    <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                                </div>
                                <div class="item-subtitle">28-12-2018</div>
                                <div class="media-block">
                                    <figure>
                                        <img src="img/user2.png" alt="">

                                    </figure>
                                    <div class="media-content">
                                        <div class="item-title">Alizee McMohan
                                            <br>
                                            <small>Article Writer at Timesnow</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <button class="like-heart color-red">
                                    <i class="icon material-icons">favorite</i>
                                </button>
                                <figure class="square-120x180"><img src="img/news_small4.jpg" alt=""></figure>
                            </div>
                            <a href="/news/" class="item-inner">
                                <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                                <div class="item-title-row">
                                    <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                                </div>
                                <div class="item-subtitle">28-12-2018</div>
                                <div class="media-block">
                                    <figure>
                                        <img src="img/user2.png" alt="">

                                    </figure>
                                    <div class="media-content">
                                        <div class="item-title">Alizee McMohan
                                            <br>
                                            <small>Article Writer at Timesnow</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <button class="like-heart color-red">
                                    <i class="icon material-icons">favorite_border</i>
                                </button>
                                <figure class="square-120x180"><img src="img/news_small3.jpg" alt=""></figure>
                            </div>
                            <a href="/news/" class="item-inner">
                                <div class="item-subtitle">India - Ananya Singh , Chief Editor</div>
                                <div class="item-title-row">
                                    <div class="item-title"><b>Best song and best templates ever wins the heart</b></div>
                                </div>
                                <div class="item-subtitle">28-12-2018</div>
                                <div class="media-block">
                                    <figure>
                                        <img src="img/user2.png" alt="">

                                    </figure>
                                    <div class="media-content">
                                        <div class="item-title">Alizee McMohan
                                            <br>
                                            <small>Article Writer at Timesnow</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        <div class="block footer">
            <div class="row">
                <div class="col">
                    MobileUX
                </div>
                <div class="col text-right">
                    <a href="" class="social"><i class="icon f7-icons">social_facebook_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_googleplus_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_linkedin_fill</i></a>
                    <a href="" class="social"><i class="icon f7-icons">social_twitter_fill</i></a>
                </div>
            </div>
        </div>
        <div class="block footer dark">
            <div class="row">
                <div class="col text-center">
                    <p>Copyright @2018, Maxartkiller</p>
                </div>
            </div>
        </div>
    </div>

</div>
