 <div class="page verification-page">
     <div class="navbar no-bg">
         <div class="navbar-inner sliding">
             <div class="left">
                 <a href="#" class="link back">
                     <i class="icon icon-back"></i>
                     <span class="ios-only">Back</span>
                 </a>
             </div>
             
         </div>
     </div>
     <div class="background "><img src="img/background.png" alt=""></div>
     <div class="page-content triangle-background text-align-center w-100">
         <h1>Verification Code</h1>
         <p class="">
             Enter 6-digit code which was sent to your phone number provided
         </p>
         <div class="list  no-hairlines-md">
            <ul>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-input-wrap">
                            <input type="password" placeholder="4-Digit Code" class="text-align-center color-white">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
             </ul>
         </div>
         
         <a href="/homepage/"  class="col col-50 button gradient signinbuttn md-elevation-6">Verify</a>
         <br>
         <br>
         <a href="" class="button color-white col">Resend Code</a>
     </div>
</div>